doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="https://unpkg.com/mvp.css")
    title Noom
  body 
    header  
      h1 nOOm
    main 
      div#lobby
        form
          input(placeholder = "room name" type ="text" required)
          button Enter Room
      div#room
        h2
        ul
        form#nickname
          input(placeholder = "nickname" type ="text" required)
          button Save      
        form#message
          input(placeholder = "message" type ="text" required)
          button Send
    
    script(src="/socket.io/socket.io.js")
    script(src="/public/js/SocketIO.js")

    // socket.io를 클라이언트에 적용